<div style="padding: 20px;">
    <button (click)="logoutClick()" class="logout btn btn-primary">Logout</button>
    <div class="container shadow">
        <div class="row">
            <div class="col-4">
                <h1>CodeKEEP</h1>
                <h5>Save it, forget it</h5>
            </div>
            <div class="col-8">
                <div class="row" style="float: right; text-align: right;">
                    <h6>A platform to manage your favorite code snippets</h6>
                </div>
                <!-- <div class="row" style="float: right; width: 100%;">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/8/81/LinkedIn_icon.svg" height="30px"
                        width="30px">
                </div> -->
            </div>
        </div>
    </div>
</div>