<div id="parent-div" class="vertically-center">
    <div id="child-div" class="container">
        <h1>Code KEEP</h1>
        <form [formGroup]="loginForm" (submit)="performLogin()">
            <span *ngIf="!emailValid" class="input-error">Please enter a valid email</span>
            <div class="mb-3 form-floating">
                <input id="email" (focusout)="focusOut('email')" type="email" placeholder="Enter Email" required
                    class="form-control" formControlName="email">
                <label for="email">Enter Email</label>
            </div>
            <span *ngIf="!passwordValid" class="input-error">Password should of minimum 8 characters</span>
            <div class="mb-3 form-floating">
                <input class="form-control" (focusout)="focusOut('pass')" type="password" formControlName="password"
                    placeholder="Enter Password" required="" id="password">
                <label for="password">Enter Password</label>
            </div>
            <button class="btn btn-primary" type="submit">Login</button>
        </form>
        <span style="margin-top: 10px;">Dont have an account?<strong (click)="signupLinkClick()">Sign Up</strong></span>
    </div>
</div>